<div class="container center-all">
    <div class="login-box">
      <form [formGroup]="loginForm">
        <div *ngIf="error" class="alerta">
            <span>{{error}}</span>
        </div>
        <div class="input-container">
          <input placeholder="usuario" formControlName="user"/>
        </div>
        <div class="input-container">
          <input placeholder="contraseña" formControlName="password" type="password" />
        </div>
        <button (click)="onSubmit()">Aceptar</button>
      </form>
    
    </div>
  </div>
  