/* You can add global styles to this file, and also import other style files */
.container{
    width: 100vw;
    min-height: 100vh;
}

.center-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    
}